@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slideintop {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideintop {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slideinleft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes slideinleft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 10vh;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 10px 10px;
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 15px;
}

.menu__logo h1 {
  font-size: 5rem;
  font-family: "Montserrat Alternates", sans-serif;
  color: #404d4e;
  padding: 15px 0;
  font-size: 1.5rem;
}

.menu__logo img {
  border-radius: 50px;
  z-index: 1;
  margin-right: 35px;
}

.menu .menu-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 35px;
}

.menu .menu-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.8rem;
  font-family: "Montserrat Alternates", sans-serif;
  padding: 0.5rem;
}

.menu .menu-nav__item:hover {
  background-color: #ffc43d;
  border-radius: 7px;
}

.menu .menu-nav .active {
  background: #ffc43d;
  border-radius: 7px;
}

.menu .menu-nav__link {
  color: #404d4e;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}

.home {
  height: 80vh;
  background: #f8ffe5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home__img {
  position: relative;
  right: 5%;
  top: 5%;
}

.home__img img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: fadeInAnimation ease 1s;
          animation: fadeInAnimation ease 1s;
}

.home__text {
  position: relative;
  left: 5%;
  bottom: 3%;
  border: solid #404d4e;
  padding: 40px;
}

.home__text h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
 sans-serif;
  font-weight: 100;
  color: #404d4e;
  -webkit-animation: slideinleft ease 1s;
          animation: slideinleft ease 1s;
}

.home__text h2::after {
  content: "";
  position: absolute;
  top: 18%;
  left: 3.5%;
  width: 3%;
  height: 2px;
  background: #ffc43d;
}

.home__text i {
  font-size: 2rem;
  color: #404d4e;
  margin-left: 10px;
}

.home__text p {
  color: #404d4e;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  -webkit-animation: slideinleft ease 1s;
          animation: slideinleft ease 1s;
}

.home__text h1 {
  font-size: 5rem;
  font-family: "Montserrat Alternates", sans-serif;
  color: #404d4e;
  padding: 15px 0;
  -webkit-animation: slideintop ease 1s;
          animation: slideintop ease 1s;
}

.home__buttons {
  margin-top: 4rem;
}

.home__buttons .btn {
  text-decoration: none;
  padding: 10px 45px;
}

.home__buttons .btn--primary {
  background: #06d6a0;
  border-radius: 5px;
  font: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  color: #f8ffe5;
  margin: 0 10px 0 0;
}

.home__buttons .btn--primary:hover {
  background: #03ffbc;
  color: #404d4e;
}

.home__buttons .btn--secondary {
  background: #1b9aaa;
  border-radius: 5px;
  font: "Montserrat Alternates", sans-serif;
  font-size: 2rem;
  color: #f8ffe5;
}

.home__buttons .btn--secondary:hover {
  background: #0edef9;
  color: #404d4e;
}

.home::after, .home::before {
  position: absolute;
  content: "";
  width: 150px;
  height: 50px;
  background: #f8ffe5;
  bottom: -1em;
  z-index: 100;
}

.home::before {
  right: 64.9%;
  -webkit-transform: skew(0, 20deg);
          transform: skew(0, 20deg);
}

.home::after {
  left: 35%;
  -webkit-transform: skew(0, -20deg);
          transform: skew(0, -20deg);
}

.sec2 {
  background: #06d6a0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  margin-bottom: -10vw;
}

.sec2 .griglia {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5em;
  grid-auto-rows: 33%;
  position: absolute;
  top: 10%;
  left: 5%;
}

.sec2 .griglia__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  color: #404d4e;
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  padding-bottom: 5rem;
}

.sec2 .griglia__progetto {
  position: relative;
  border-bottom: 5px solid #ffc43d;
  overflow: hidden;
  cursor: pointer;
  height: 320px;
}

.sec2 .griglia__progetto img {
  width: 100%;
}

.sec2 .griglia__progetto::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffc43d;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sec2 .griglia__progetto:hover::after {
  top: 0;
  opacity: 0.9;
}

.sec2 .griglia__progetto:hover .progetto__btn {
  opacity: 1;
}

.sec2 .griglia__progetto .progetto__btns {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.sec2 .griglia__progetto .progetto__btn {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  opacity: 0;
  color: #404d4e;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sec2 .griglia__progetto .progetto__btn:hover {
  color: #1B9AAA;
}

.sec3 {
  background: #1b9aaa;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: -10vw;
}
