* {
    margin: 0;
}

body{
    font-family: 'Lato', sans-serif;}

#testata{
    display:flex;
    flex-direction: row;
    height: 70px;
    justify-content: space-between;
    width: 100%;
    background-color: #1e1f26;
}

#container2 {
    display: flex;
    flex-direction: row;
}

.menunav {
    display: flex;
    flex:1;
    list-style: none;
    align-self: center;
    justify-content: flex-end;
}

.menunav button {
    background-color:#5a5f73;
    display: flex;
    align-items: center;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    padding:14px;
    border:none;
    font-size: 15px;
    font-weight: 400;
    justify-content: center;
    margin: 5px;
}

.menunav button:hover {
    background-color: #7a8094;
    color: white;
}

#greenbutton {
    background-color:#47cf73 ;
    color: black;
}

#greenbutton:hover{
    background-color: #248c46;
    color: white;
}

#logo {
    display: flex;
    flex:1;
    align-items: center;
    margin: 5px;
}

#titolo {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 5px;
}

#titolo h3 {
    font-size: 19.5px;
    font-weight: 700;
}

#contenitore {
    display: flex;
    flex-direction: row;
    height: 400px;
}

#contenitorebox {
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-between;
    flex:1;
}

.box {
    display: flex;
    flex-direction: row;
    width: 33%;
    border-left: solid 17px #333642;
    border-bottom: solid 17px #333642;
    background-color: #131417;
}

.titolobox {
    display: flex;
    flex-direction: row;
    flex:1;
    height: 30px;
    background-color: rgba(0,0,0,0.1);
    border-bottom: solid 1px #aaaebc;;
    color: #aaaebc;
    font-weight: bold;
    font-size: 1.3em;
}